.input {
    -webkit-appearance: none;
    width: 320px;
    max-width: 98%;
    border: 0px;
    padding: 5px 15px;
    outline: none;
    font-size: 18px;
    border: 1px solid #999;
    border-radius: 100px;
}