.cities-list {
  margin-top: 30px;
  width: 600px;
  max-width: 100%;
  .city-in-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;

    &:hover {
      background: #f9f9f9;
    }

    .city-name {
      margin: 0px;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
