@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Staatliches&display=swap");

.logo {
  font-family: "Caveat";
  font-size: 40px;
  color: #fff;
  @media (max-width: 700px) {
    font-size: 23px;
  }
}
