header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

#container {
    margin: 50px auto;
    width: 800px;
    max-width: 96%;
}

footer {
    font-size: 12px;
    text-align: center;
}

.news_list h1 {
    text-align: center;
}

article {
    margin: 30px auto;
}

article h2 {
    /* font-weight: ; */
    margin: 10px 0px;
}
article img {
    max-width: 100%;
    /* margin: 10px 0px; */
}

article .description {
    font-size: 15px;
    line-height: 19px;
    margin: 10px 0px;
}

article .time {
    font-size: 15px;
    line-height: 19px;
    margin: 10px 0px;
}