.btn {
    -webkit-appearance: none;
    padding: 10px 30px;
    border: 0px;
    background-color: #2f9ae3;
    border-radius: 100px;
    color: #f9f9f9;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #2271a5;
}