nav ul li {
    display: inline;
    padding: 5px 10px;
}

nav ul li a {
    text-transform: uppercase;
    color: #fff;
}

nav ul li a.active {
    color: #2f9ae3;
}

@media(max-width: 700px) {
    nav ul li a {
        font-size: 13px;
    }
}