/* @import url('reset.css'); */

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #fbfbfb; */
    color: #2e2e30;
}

a {
    text-decoration: none;
    color: #2f9ae3;
}

a:hover {
    color: #2271a5 !important;
}

.center {
    text-align: center;
}