@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.logo {
    font-family: 'Righteous';
    font-size: 40px;
    text-transform: lowercase;
    color: #fff;
}

@media(max-width: 700px) {
    .logo {
        font-size: 23px;
    }
}