@import "../../../utils/constants.scss";

.menu {
  ul {
    li {
      display: inline;
      padding: 5px 10px;
      a {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        &:hover {
          color: $MainColor;
          opacity: .8;
        }
        &.active {
          color: $MainColor;
        }
        @media (max-width: 700px) {
          font-size: 13px;
        }
      }
    }
  }
}
