@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Staatliches&display=swap");

.logo {
  font-family: "Lexend";
  font-size: 30px;
  color: #fff;
  @media (max-width: 700px) {
    font-size: 23px;
  }
}
