.weather-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  .city {
    color: #fff;
    max-width: 100%;
    width: 320px;
    margin: 15px;
    padding: 20px;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.86;
      background-color: #242424;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover .remove-city {
      opacity: 1;
    }

    h2 {
      margin: 0px;
      margin-bottom: 20px;
      font-size: 22px;
      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    h3 {
      margin: 0px;
      font-size: 18px;
    }

    .temperature {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      img {
        width: 50px;
        margin: 0px 20px;
        border-radius: 100px;
        background-color: #888;
      }
    }

    small {
      font-size: 15px;
    }

    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    dl {
      margin: 10px;
      dt {
        text-transform: uppercase;
        font-size: 15px;
      }

      dd {
        margin-left: 0px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 900;
      }
    }
  }

  .remove-city {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transition: all .3s;
    z-index: 2;
    &:hover {
      cursor: pointer;
      color: #e32f2f;
    }
  }

  .hour-1::before {
    background-color: #1c2152;
  }

  .hour-2::before {
    background-color: #2a327a;
  }

  .hour-3::before {
    background-color: #313986;
  }

  .hour-4::before {
    background-color: #3a44a3;
  }

  .hour-5::before {
    background-color: #4450be;
  }

  .hour-6::before {
    background-color: #4e5cda;
  }

  .hour-7::before {
    background-color: #5565ee;
  }

  .hour-8::before {
    background-color: #6675f7;
  }

  .hour-9::before {
    background-color: #818dff;
  }

  .hour-10::before {
    background-color: #8691f0;
  }

  .hour-11::before {
    background-color: #a4acf5;
  }

  .hour-12::before {
    background-color: #a3a9e6;
  }

  .hour-13::before {
    background-color: #9096d8;
  }

  .hour-14::before {
    background-color: #858bc9;
  }

  .hour-15::before {
    background-color: #7378b4;
  }

  .hour-16::before {
    background-color: #656aa3;
  }

  .hour-17::before {
    background-color: #585d92;
  }

  .hour-18::before {
    background-color: #4d5181;
  }

  .hour-19::before {
    background-color: #424672;
  }

  .hour-20::before {
    background-color: #383c63;
  }

  .hour-21::before {
    background-color: #303458;
  }

  .hour-22:before {
    background-color: #252949;
  }

  .hour-23::before {
    background-color: #1b1f3d;
  }

  .hour-0::before {
    background-color: #1c2152;
  }
}
