
.news_list h1 {
    text-align: center;
}

article {
    width: 500px;
    max-width: 98vw;
    margin: 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
article:last-child {
    border-bottom: 0px;
}

article h2 {
    margin: 10px 0px;
}
article img {
    max-width: 100%;
}

article .description {
    font-size: 15px;
    line-height: 19px;
    margin: 10px 0px;
}

article .time {
    font-size: 15px;
    line-height: 19px;
    margin: 10px 0px;
}